<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" href = "passport/login"> 返回 </ion-button>
    </ion-buttons>
    <ion-title>找回密码</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    输入邮箱或者手机号>输入验证码>重置密码
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #signupSlides>

    <!--手机号输入界面-->
    <ion-slide>
      <ion-grid>
        <form (ngSubmit)="onSubmitPhone(phoneForm)" #phoneForm="ngForm">
          <!-- 手机号输入框 -->

          <div class="divBlank"></div>

          <ion-grid>
            <ion-item>
              <ion-label position="fixed"> Phone </ion-label>
              <ion-input name="phone" type="number" placeholder=" 请输入您的手机号码" required
                pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\d{8}$" [(ngModel)]="user.phone"
                #phone="ngModel">
              </ion-input>
            </ion-item>

            <!-- 手机号格式错误提醒 -->
            <ion-text class="ion-text-left" color="danger" *ngIf="phone.invalid && phone.touched || submited">
              <p [hidden]="!phone.errors?.required" class="padding-start">请输入手机号码</p>
              <p [hidden]="!phone.errors?.pattern" class="padding-start">您输入的手机号格式不正确</p>
            </ion-text>
          </ion-grid>

          <div class="divBlank"></div>

          <!-- 下一步按钮 -->
          <ion-grid>
            <div class="ion-padding-horizontal">
              <ion-button type="submit" style="width:100%;" color="primary">下一步
              </ion-button>
            </div>
          </ion-grid>
        </form>
      </ion-grid>
    </ion-slide>


    <!--验证码获取界面-->
    <ion-slide>
      <ion-grid>
        <form (ngSubmit)="onValidCode(verificationCodeForm)" #verificationCodeForm="ngForm">

          <div class="divBlank"></div>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input type="string" placeholder=" 输入验证码" name="code" required pattern="^\d{4}$"
                  [(ngModel)]="user.code" #code="ngModel"></ion-input>
              </ion-item>

              <!-- 格式错误提醒 -->
              <ion-text class="ion-text-left" color="danger" *ngIf="(code.invalid && code.touched)">
                <p [hidden]="!code.errors?.pattern" class="padding-start">请输入验证码</p>
              </ion-text>
            </ion-col>
            <ion-col>
              <div class="ion-padding-horizontal">
                <ion-button color="primary" style="width:100%;" class="signup_button" (click)="getCode()"
                  [disabled]="!verifyCode.disable">{{verifyCode.verifyCodeTips}}</ion-button>
              </div>
            </ion-col>
          </ion-row>


          <div class="divBlank"></div>

          <ion-grid>
            <div class="ion-padding-horizontal">
              <ion-button type="submit" color="primary" style="width:100%;" class="signup_button"
                [disabled]="verificationCodeForm.invalid">
                下一步
              </ion-button>
            </div>

            <div class="divBlank"></div>

            <div class="ion-padding-horizontal">
              <ion-button color="primary" style="width:100%;" class="signup_button" (click)="onPrevious()">
                上一步
              </ion-button>
            </div>
          </ion-grid>
        </form>
      </ion-grid>
    </ion-slide>

    <!--修改密码界面-->
    <ion-slide style="width: 100%;">
      <ion-grid>
        <ion-item>
          <ion-input name="password" type="password" placeholder=" 请输入登录密码" required pattern="^\w{5,17}$"
            [(ngModel)]="user.password" #password="ngModel"></ion-input>
        </ion-item>
        <ion-text class="ion-text-left" color="danger" *ngIf="(password.invalid && password.touched)">
          <p [hidden]="!password.errors?.required" class="padding-start">请输入登录密码</p>
          <p [hidden]="!password.errors?.pattern" class="padding-start">密码格式不正确</p>
        </ion-text>
        <ion-item style="display: block; width: 100%;">
          <ion-input name="confirmPassword" type="password" placeholder=" 请再次确认密码" required pattern="^\w{5,17}$"
            [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel"></ion-input>
        </ion-item>
        <ion-text class="ion-text-left" color="danger" *ngIf="(confirmPassword.invalid && confirmPassword.touched)">
          <p [hidden]="!confirmPassword.errors?.required" class="padding-start">请再次确认密码</p>
          <p [hidden]="!password.errors?.pattern" class="padding-start">密码格式不正确</p>
        </ion-text>
        <div class="ion-padding-horizontal">
          <ion-button type="submit" color="primary" style="width:100%;" (click)="onSubmit()">
            提交
          </ion-button>
        </div>

        <div class="divBlank"></div>

        <div class="ion-padding-horizontal">
          <ion-button color="primary" style="width:100%;" (click)="onPrevious()">
            上一步
          </ion-button>
        </div>
      </ion-grid>

      <div class="divBlank"></div>


      <div class="divBlank"></div>
      <!-- 根据需求添加若干ion-item -->

    </ion-slide>

  </ion-slides>

</ion-content>