.logo {
    width: 33%;
}
hr {
    height: 1.5px;
    border: none;
    background-color: rgba(211, 211, 211, 0.959);
}
.full-width {
    width: 100%;
}

.divBlank {
    border: 1px solid rgb(255, 255, 255);
    width: 200px;
    height: 8px;
}
.set-width{
    display: inline-block;
    width: 100%;
}
