<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div text-center>
      <img class="logo" src="assets/img/logo.png" alt="">
    </div>
    <ion-col align-self-center>
        <hr class="line">
    </ion-col>
    <ion-grid margin-top>
      <ion-row>
        <ion-col>
            <img src="assets/img/registered_one.png" alt="" *ngIf="slideIndex!==0">
            <img src="assets/img/registered_one_one.png" alt="" *ngIf="slideIndex===0">
        </ion-col>
        <ion-col align-self-center>
          <hr class="line">
        </ion-col>
        <ion-col>
            <img src="assets/img/registered_two.png" alt="" *ngIf="slideIndex!==1">
            <img src="assets/img/registered_two_two.png" alt="" *ngIf="slideIndex===1">
        </ion-col>
        <ion-col align-self-center>
          <hr class="line">
        </ion-col>
        <ion-col>
            <img src="assets/img/registered_three.png" alt="" *ngIf="slideIndex!==2">
            <img src="assets/img/registered_three_three.png" alt="" *ngIf="slideIndex===2">
        </ion-col>
        <ion-col align-self-center>
          <hr class="line">
        </ion-col>
        <ion-col>
            <img src="assets/img/register_four.png" alt="" *ngIf="slideIndex!==3">
            <img src="assets/img/register_four_four.png" alt="" *ngIf="slideIndex===3">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-slides #signupSlides>
        <ion-slide>
            <!--<h1>1</h1>-->
            <div style="width: 100%">
                <form  #phoneForm="ngForm" (ngSubmit)="onInputPhone()" novalidate>
                  <ion-list>
                    <ion-item>
                        <ion-input name="phone" type="number" placeholder="请输入您的手机号码" required  pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\d{8}$"  [(ngModel)]="signup.phone" #phone="ngModel"></ion-input>
                        <ion-text text-left color="danger" *ngIf="phone.invalid && phone.touched">
                            <p [hidden]="!phone.errors?.required" padding-start>请输入手机号码</p>
                            <p [hidden]="!phone.errors?.pattern" padding-start>您输入的手机号格式不正确</p>
                        </ion-text>
                    </ion-item>
                    <div padding-horizontal>
                      <ion-button expand="block" color="primary" (click)="onNext()">下一步</ion-button>
                    </div>
                  </ion-list>
                </form>
            </div>
        </ion-slide>
        <ion-slide>
            <!--<h1>2</h1>-->
            <div style="width: 100%">
                <form #codeForm="ngForm" (ngSubmit)="onInputCode()" novalidate>
                    <ion-list>
                      <ion-item>
                        <ion-label>
                          <ion-icon name="ios-color-filter" color="light"></ion-icon>
                        </ion-label>
                        <ion-input slot="start"  name="code" [(ngModel)]="signup.code" #verifyCode1="ngModel" placeholder="输入验证码" ></ion-input>
                        <!-- <button ion-button clear item-right (click)="sendCode($event)" #sendBtn [disabled]="isTimerStart">
                          {{timerText}}
                        </button> -->
                      </ion-item>
                        <div padding-horizontal>
                            <ion-button expand="block" color="primary" (click)="onPrevious()" >上一步</ion-button>
                        </div>
                        <div padding-horizontal>
                            <ion-button expand="block" color="primary" (click)="onNext()">下一步</ion-button>
                        </div>
                    </ion-list>
                </form>
            </div>
        </ion-slide>
        <ion-slide>
          <!--<h1>3</h1>-->
            <div style="width:100%">
                <form #codeForm="ngForm" (ngSubmit)="onInputInfo()" novalidate>
                  <ion-list>
                    <ion-item>
                        <ion-input slot="start" type="text" name="shopName" required placeholder="请输入店铺名称" [(ngModel)]="signup.shopName" #shopName="ngModel" (ionBlur)="checkShopName($event)"   required></ion-input>
                      <!--<ion-input type="text" placeholder="请输入店铺的名字" clearInput formControlName="shopName"></ion-input>-->
                    </ion-item>
                    <ion-item>
                        <ion-input type="email" name="email" (ionBlur)="checkEmail($event)" required placeholder="请输入电子邮箱" [(ngModel)]="signup.email" #email="ngModel" required></ion-input>
                      <!-- <ion-input type="text" placeholder="请输入电子邮箱" clearInput formControlName="email"></ion-input> -->
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" name="password"  (ionBlur)="checkPassword($event)" required placeholder="请输入登录密码" [(ngModel)]="signup.password" #password="ngModel" required></ion-input>
                      <!-- <ion-input type="password" placeholder="请输入密码" clearInput formControlName="password"></ion-input> -->
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" name="confirmPassword" (ionBlur)="checkConfirmPassword($event)" required placeholder="请输入确认密码" [(ngModel)]="signup.confirmPassword" #confirmPassword="ngModel" required></ion-input>
                      <!-- <ion-input type="password" placeholder="请输入确认密码" clearInput formControlName="confirmPassword"></ion-input> -->
                    </ion-item>
                    <div padding-horizontal>
                      <ion-button expand="block" color="primary" (click)="onPrevious()" >上一步</ion-button>
                    </div>
                    <div padding-horizontal>
                      <ion-button expand="block" color="primary" (click)="onNext()">下一步</ion-button>
                    </div>
                  </ion-list>
                </form>
            </div>
        </ion-slide>
        <ion-slide>
            <!--<h1>4</h1>-->
            <div style="width:100%">
                <ion-list>
                    <div padding-horizontal>
                        <ion-button expand="block" color="primary" (click)="onPrevious()">上一步</ion-button>
                    </div>
                    <div padding-horizontal>
                        <ion-button expand="block" color="primary" href="home">完成</ion-button>
                    </div>
                </ion-list>
            </div>
        </ion-slide>
    </ion-slides>
  </ion-content>
