<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>找回密码</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    1、输入邮箱或者手机号>2、输入验证码>3、重置密码
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding-right no-margin>
    <ion-item lines="none"></ion-item>
    <ion-item>
      <ion-label position="fixed">邮箱/手机号</ion-label>
      <ion-input name="username" type="text" placeholder="手机号或者电子邮箱" [(ngModel)]="username"></ion-input>
    </ion-item>
    <div padding-horizontal>
      <ion-button expand="block" color="primary" (click)="onSubmit()" >提交</ion-button>
    </div>
    <!--<ion-item no-lines></ion-item>-->
  </ion-list>
</ion-content>
