<ion-header>
  <ion-toolbar color="primary">
    <ion-title>修改密码</ion-title>
    <ion-buttons slot="start">
      <ion-button color="light" href="/tabs/me/setting">返回</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="divBlank"></div>

<ion-content>
  <form #passwordForm novalidate>
    <ion-list color="medium">

      <ion-item>
        <ion-label>请输入旧密码</ion-label>

        <ion-input required [(ngModel)]="oldpassword" name="oldpass" #oldpass="ngModel" pattern="^\w{5,17}$">
        </ion-input>
      </ion-item>
      <ion-text class="ion-text-left" color="danger" *ngIf="(oldpassword.invalid && oldpassword.touched)">
        <p [hidden]="!oldpassword.errors?.required" class="padding-start">请输入旧密码</p>
        <p [hidden]="!oldpassword.errors?.pattern" class="padding-start">密码格式不正确</p>
      </ion-text>

      <div class="divBlank"></div>

      <ion-item>
        <ion-label>请输入新密码</ion-label>
        <ion-input type="password" required [(ngModel)]="newPassword" name="newpass" #newpass="ngModel"
          pattern="^\w{5,17}$"></ion-input>
      </ion-item>
      <ion-text class="ion-text-left" color="danger" *ngIf="(newPasswprd.invalid && newPasswprd.touched)">
        <p [hidden]="!newPasswprd.errors?.pattern" class="padding-start">密码格式不正确</p>
      </ion-text>

      <div class="divBlank"></div>

      <ion-item>
        <ion-label>请确认新密码</ion-label>
        <!-- <ion-input type="password" required [(ngModel)]="checkPassword" name="checkpass" #checkpass="ngModel"></ion-input> -->
        <ion-input name="confirmPassword" #confirmPassword="ngModel" [appConfirm]="newPassword.value"
                    [(ngModel)]="viewObject.confirmPassword" required type="text">
        </ion-input>
      </ion-item>

      <ion-item  *ngIf="confirmPassword.invalid && confirmPassword.touched" lines="none">
        <ion-text color="danger" *ngIf="confirmPassword.errors?.confirm">
            两次密码不一致
        </ion-text>
        <ion-text color="danger" *ngIf="confirmPassword.errors?.required">
            请输入确认密码
        </ion-text>
      </ion-item>
      <!-- <ion-text class="ion-text-left" color="danger" *ngIf="(newPasswprd.invalid && newPasswprd.touched)">
        <p [hidden]="newPassword == checkPassword" class="padding-start">两次密码不一致</p>
      </ion-text> -->
    </ion-list>

  </form>
  <div class="divBlank"></div>

  <ion-button expand="block" [disabled]="passwordForm.invalid" (click)="onSave()">
    确定
  </ion-button>
</ion-content>